.btn {
  margin: 0 auto;
  height: 3rem;
  width: 15%;
  background-color: var(--light-gray-color);
  color: var(--dark-gray-color);
  border: 2px var(--teal-color) solid;
  cursor: pointer;
}
.btn:hover {
  background-color: var(--teal-shadow);
}
