.task_details {
  font-size: 12px;
  padding: 16px;
  width: 50%;
  margin: 0 auto;
  border-collapse: collapse;
  table-layout: fixed;
}

.task_details tr {
  min-width: 100%;
  padding: 2px 4px;
  border-bottom: 1px solid var(--teal-color);
}
.task_details tr:first-of-type {
  border-top: 1px solid var(--teal-color);
}

.task_details td:nth-child(odd) {
  min-width: 70px;
  width: 30%;
}
.task_details td:nth-child(even) {
  min-width: 100px;
  width: 70%;
}
