.tasks_list_container {
  min-width: 30%;
  max-width: 60%;
  max-height: 70%;
  margin: 8rem auto;
  overflow-y: auto;
  background-color: var(--light-gray-color);
}

.tasks_list_state {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-gray-color);
}
