.header_welcome {
  color: var(--teal-color);
}

.buttons_container {
  display: flex;
  justify-content: space-evenly;
}

button {
  color: var(--dark-gray-color);
  border: 2px var(--teal-color) solid;
}
button:hover {
  background-color: var(--mint-color);
}

@media (max-width: 310px) {
  * {
    display: none;
  }
}
@media (min-width: 310px) {
  .header_welcome {
    font-size: 2.5rem;
    width: 100dvw;
    padding: 5%;
    text-align: center;
    margin-bottom: 3rem;
  }
  .buttons_container {
    flex-direction: column;
    width: 100dvw;
    align-items: center;
  }
  button {
    font-size: 1.5rem;
    width: 60%;
    margin-bottom: 3rem;
    padding: 0.5rem;
    max-width: 350px;
  }
}

@media (min-width: 481px) {
}

@media (min-width: 768px) {
  .header_welcome {
    font-size: 3rem;
  }
}

@media (min-width: 1024px) {
  .buttons_container {
    flex-direction: row;
    width: 100dvw;
    justify-content: space-evenly;
  }
  button {
    font-size: 1.5rem;
    margin-bottom: 3rem;
    padding: 0.5rem;
    width: 280px;
  }
}

@media (min-width: 1440px) {
}
