:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  --light-gray-color: #f5f5f5;
  --dark-gray-color: #2c2c2c;
  --teal-color: #008080;
  --teal-shadow: rgba(0, 128, 128, 0.6);
  --mint-color: #a7e0c2;
  --coral-color: #e57373;
  --orange-color: #f4a261;
  --blue-color: #4a90e2;
  --outside-modal-background: #d5d4d4ab;

  background-color: var(--light-gray-color);
  color: var(--dark-gray-color);

  font-synthesis: none;
  /* text-rendering: optimizeLegibility; */
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: var(--light-gray-color);
}
::-webkit-scrollbar-thumb {
  background: var(--teal-color);
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(2, 145, 145);
}

@media (max-width: 310px) {
  * {
    display: none;
  }
}

[data-theme="dark"] {
  /* DARK MODE COLORS */
  --light-gray-color: #2c2c2c;
  --dark-gray-color: #f5f5f5;
  --teal-color: #20b2aa;
  --teal-shadow: rgba(32, 178, 170, 0.6);
  --mint-color: #81c99c;
  --coral-color: #ff6b6b;
  --orange-color: #f4a261;
  --blue-color: #5dade2;
  --outside-modal-background: #2c2c2cab;
  --calendar-icon-filter: 0;
}

[data-theme="light"] {
  /*  LIGHT MODE COLORS  */
  --light-gray-color: #f5f5f5;
  --dark-gray-color: #2c2c2c;
  --teal-color: #008080;
  --teal-shadow: rgba(0, 128, 128, 0.6);
  --mint-color: #a7e0c2;
  --coral-color: #e57373;
  --orange-color: #f4a261;
  --blue-color: #4a90e2;
  --outside-modal-background: #d5d4d4ab;
  --calendar-icon-filter: 1;
}
