:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */

  --light-gray-color: #f5f5f5;
  --dark-gray-color: #2c2c2c;
  --teal-color: #008080;
  --mint-color: #a7e0c2;
  --coral-color: #e57373;
  --orange-color: #f4a261;
  --blue-color: #4a90e2;

  background-color: var(--light-gray-color);
  color: var(--dark-gray-color);

  font-synthesis: none;
  /* text-rendering: optimizeLegibility; */
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: var(--light-gray-color);
}
::-webkit-scrollbar-thumb {
  background: var(--teal-color);
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(2, 145, 145);
}

@media (max-width: 310px) {
  * {
    display: none;
  }
}

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 32px;
} */
/* 
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
